*,
*::before,
*::after {
  box-sizing: border-box;
  outline: 1px solid red;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  height: 534px; /* разобраться в чем проблема и попытаться сделать без строгой высоты */
  display: flex;
  align-items: end;
  padding-left: 30px;
  padding-right: 30px;
}

.result {
  padding-right: 30px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 2.5px;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  background-color: #fff;
}

.search-form__label:has(.search-form__checkbox:checked)
  .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__textfield {
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
  color: #fff;
  background-color: #1b1919;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 800;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  height: 298px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 800;
  font-size: 30px;
  margin-top: -9px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 16.2px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}
